#wrapper {
    width: 100%;
}

thead {
    background-color: var(--dark);
    color: var(--light-gray);
}

tr {
    border-bottom: 1px solid var(--light-gray);
    padding: 5px;
}

td {
    vertical-align: middle;
}

.table-header {
    font-size: 24px;
    margin: 20px 0;
}

#product-list {
    /*margin-right: 50%;*/
    width: 650px;
    float: left;
    display: block;
}

img {
    height: 160px;
}

.price:before {
    content: "$"
}



